@import "mocha.css";

* {
    font-family: IosevkaTerm;
    font-size: 13px;
    padding: 0;
    margin: 0;
    border-radius: 0px;
}

window#waybar {
    background-color: shade(@crust, 0.9);
    color: @text;
}

#workspaces button {
    padding-right: 3px;
    padding-left: 3px;
    color: @text;
    box-shadow: none;
    background: none;
    border: none;
    transition: none;
}

#workspaces button.active {
    color: @blue;
    background-color: @base;
}

#workspaces button.empty {
    opacity: 0.5;
}

#workspaces button.urgent {
    color: @red;
    border: 1px solid red;
}

#window {
    background-color: @base;
    min-width: 1180px;
}
